.header {
    width: 100%;
}
div.header-title {
    width: 1120px;
    padding: 20px 0;
    margin: 0 auto;
    text-align: center;
    overflow: auto;
}
nav.header-menu {
    border-top: 1px solid #e4e4e4;
    min-width: 1120px;
    height: 55px;
}
nav.header-menu ul {
    width: 1120px;
    text-align: center;
    position: relative;
    height: 100%;
    margin: 0 auto;
}
nav.header-menu>ul>li {
    list-style-type: none;
    display: inline-block;
    margin-right: 40px;
    height: 100%;
    line-height: 50px;
    font-size: 18px;
    color: #222;
    border: #222222;
    width: 120px;
}
nav.header-menu>ul>li>a {
    text-decoration: none;
    height: 100%;
}
nav.header-menu ul li .sub-menu ul {
    list-style-type: none;
    opacity: 0;
    padding: 0;
    font-size: 14px;
    position: absolute;
    background: black;
    z-index: 120;
    width: 120px;
    height: auto;
    top: 55px;
}
.sub-menu ul li a {
    color: white;
    text-decoration: none;
}
.sub-menu ul li{
    margin: 10px;
    line-height: 1.5;
}
nav.header-menu ul li:hover .sub-menu ul, .sub-menu ul:hover .sub-menu ul {
    opacity: 1;
}