.header {
    width: 100%;
}
div.header-title {
    width: 1500px;
    padding: 20px 0;
    margin: 0 auto;
    text-align: center;
    overflow: auto;
}
nav.header-menu {
    border-top: 1px solid #e4e4e4;
    min-width: 1500px;
}
nav.header-menu ul {
    width: 1500px;
    text-align: center;
    margin: 20px auto;
}
nav.header-menu>ul>li {
    list-style-type: none;
    display: inline-block;
    margin-right: 40px;
    font-size: 18px;
    color: #222;
    border: #222222;
    width: 120px;
}
nav.header-menu>ul>li>a {
    text-decoration: none;
}
nav.header-menu ul li .sub-menu ul {
    list-style-type: none;
    display: none;
    margin-top: 20px;
    padding: 0;
    font-size: 14px;
    position: absolute;
    background: black;
    color: white;
    z-index: 120;
    width: 120px;
}
nav.header-menu ul li .sub-menu ul li{
    margin: 10px;
}
nav.header-menu ul li:hover .sub-menu ul {
    display: block;
}