.profile {
    width: 100%;
    background: #f1f1f1;
}
.content {
    overflow: hidden;
    height: 210px;
    width: 980px;
    border-bottom: 1px solid #e4e4e4;
    padding: 20px;
    margin: 0 auto;
}
.content::after {
    clear: both;
}
.description {
    overflow: hidden;
    width: 50%;
    text-align: center;
    line-height: 1.6em;
}