body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select,hr{margin:0;padding:0}
body,input,textarea,select,button,table {font-family:'Nanum Gothic',sans-serif;}
body,input,textarea,select,button,table,a {color:#333;}
body {line-height:1.5}
h1,h2,h3,h4,h5,h6 {line-height:1.2}